tr {
    height: 75px;
}
td {
    width: 75px;
    text-align: center;
    color: grey;
    font-size: 50px;
}
tr:nth-child(2n+2) td:nth-child(2n + 1) {
    background-color: black;
}
tr:nth-child(2n-1) td:nth-child(2n + 2) {
    background-color: black;
}
.col0, tr:first-child td, tr:last-child td {
    background-color: transparent!important;
    color: black;
} 